figcaption {
    text-align: center;
}

table {
    width: 100%;
    background-color: lightgray;
    margin-top: 25px;
}

figure {
    text-align: center;
}

#figC {
    text-decoration: none;
    color: black;
}

#figC:visited {
    color: purple;
}

#figC:hover {
    text-decoration: underline;
    color: crimson;
}

tr {
    margin-bottom: 15%;
}