html {
    background-color: lightgray;
}

figcaption {
    text-align: center;
}

table {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 200px;
}

figure {
    text-align: center;
}

#figC {
    text-decoration: none;
    color: black;
}

#figC:visited {
    color: purple;
}

#figC:hover {
    text-decoration: underline;
    color: crimson;
}

tr {
    margin-bottom: 15%;
}

footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

footer p {
    color: white;
    margin-top: 0%;
}